body {
	font-family: sans-serif;
	background: #919191;
}

h1 {
	text-align: center;
	font-weight: 300;
}

.card {
	width: 450px;
	background: white;
	margin: 50px auto;
	padding: 30px 20px;
	border-radius: 5px;
}

label {
	font-size: 11pt;
}

.form_data {
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

.button_add {
	background: #46de85;
	color: white;
	font-size: 11pt;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
    margin-bottom: 8px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.button_submit {
	background: #468dde;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

a {
    text-decoration: none;
}